fastapi[standard]==0.115.5
uvicorn==0.32.1
langgraph==0.2.58
google-generativeai==0.8.3
google-api-python-client==2.154.0
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.2.0
python-dotenv==1.0.1
scikit-learn==1.5.2
tenacity==9.0.0
pytest==8.3.3
ruff==0.7.4
mypy==1.13.0
openai==1.55.0
requests==2.34.2
pandas
openpyxl
python-multipart
python-jobspy
ddgs
